<!doctype html>
<html>
  <head>
    <title>Crowdsource</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

    <div class='container'>
      <div class='row well'>
        <h1><%= poll.question %></h1>
      </div>
      <div class='row well responses'>

        <% for (var response in poll.responses){ %>
          <div class='response'>
            <p class='response-result' id='result-<%= response %>'></p>
            <button id=<%= response %>><%= poll.responses[response] %></button>
          </div>
        <% } %>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src='/color-buttons.js'></script>
      <% if (admin) { %>
        <div class='links'>
          <h3>Public Link</h3>
          <div id='public'><%= publicPath %></div>
          <br>
            <h3>Admin Link</h3>
            <div id='admin'><%= adminPath %></div>
        </div>
        <script src="/post-links.js"></script>
        <script src="/kill-buttons.js"></script>
      <% } else { %>
      <div class='row well text-center' id='my-vote'></div>
      <% } %>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
